<div class="unorganised-container">
    {{#each beersFromApi}}
        <div class="sizing-ul">
            <ul class="container-description">
                <li class="beer-image"><img src="{{this.image_url}}" alt=""></li>
                {{> beerpartial}}
            </ul>
        </div>
    {{/each}}
</div>