<div class="bg-page flex-container">
    <img class="beer-glass-bg-page" src="/images/beer.png" alt="beer glass">
    <div class="btn-container">
        <button class="beer-btn">
            <a href="/beers">Check the Beers!</a>
        </button>
        <button class="random-beer-btn">
            <a href="/random-beer">Check a Random Beer!</a>
        </button>
    </div>
</div>