<div class="sizing-ul">
    {{#each randomBeerFromAPI}}
        <div class="random-beer-conrainer">
            <img src="{{this.image_url}}" alt="Image not availave.Better luck next time.">
        </div>
        <ul class="container-description">
            {{> beerpartial}}
            <li class="tag-line">
                <p><i>Food pairing:</i></p>
                <p>{{this.food_pairing}}</p>
            </li>
            <li class="tag-line">
                <p><i>Brewers tips:</i></p>
                <p>{{this.brewers_tips}}</p>
            </li>
        </ul>
    {{/each}}
</div>