/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

/* navigation bar - available in all pages */

.nav-bar {
    background-color: #2081c3;
    font-family: Arial, Helvetica, sans-serif;
    height: 3rem;
}

.nav-bar ul {
    display: flex;
    height: 3rem;
}

.nav-bar ul li {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-bar ul li a {
    color: #f7f9f9;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: burlywood;
    text-shadow: 0.3rem 0.3rem 0.3rem white;
    cursor: pointer;
}

.nav-bar ul li a:active {
    transform: translateY(0.2rem);
}

/* beer img on HOME page */

.bg-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.beer-glass-bg-page {
    height: 20rem;
    width: min-content;
    margin: 0 0 1rem 4rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.btn-container button {
    margin-top: 1.5rem;
    background-color:#2081c3;
    height: 2rem;
    border: solid 0 #2081c3;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 1rem rgb(114, 114, 114);
}

.btn-container button a {
    color: #f7f9f9;
    text-decoration: none;
}

.beer-btn {
    width: 8rem;
}

.beer-btn:active {
    transform: translateY(0.2rem);
    box-shadow: none;
}

.beer-btn:hover {
    cursor: pointer;
}

.random-beer-btn {
    width: 10.5rem;
}

.random-beer-btn:active {
    transform: translateY(0.2rem);
    box-shadow: none;
}

.random-beer-btn:hover {
    cursor: pointer;
}


/* Beers - page */

.beer-page .nav-bar {
    position: fixed;
    width: 100vw;
    top: 0;
}

.unorganised-container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

/* li structure  */

.container-description {
    width: 23rem;
}

.beer-image {
    border-bottom: solid 0.3rem black;
}

.sizing-ul{
    border-right: solid 0.1rem black;
}

.container-description li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-description li p {
    margin-bottom: 0.5rem;

}

.container-description li:not(:first-child) {
    margin: 1rem 1rem 0 2rem;
}

.beer-image img{
    height: 10rem;
    margin-bottom: 0.2rem;
}

